body{
    background-image: url(weatherbackdrop.jpg);
    background-size: cover;
}


:root {
    --color: #101010;
    --text: #ff6200;
    --seeHourlyText: rgb(255, 81, 0);
    --seeHourlyColor: rgb(255, 209, 123);
  }
  
#day1Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#day1Symbol {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40%;
  top: -10px;
  transform: translate(0%, 78%);
  transition: transform 0.5s ease;
}

#dayName1{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#day1Box{
    position: absolute;
    overflow: hidden;
    top: 120;
    left: 40%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   
#day2Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#day2Symbol{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translate(0%, 78%);
    transition: transform 0.5s ease;
}

#dayName2{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#day2Box{
    position: absolute;
    overflow: hidden;
    top: 120;
    left: 58%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   
#day3Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#day3Symbol{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translate(0%, 78%);
    transition: transform 0.5s ease;
}

#dayName3{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#day3Box{
    position: absolute;
    overflow: hidden;
    top: 120;
    left: 76%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   
#day4Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#weeklyText{
    position: absolute;
    top: -30;
    left: 50%;
    -webkit-text-fill-color: white;
    font-family: thinFont;
    font-size: 40;
}

#seeHourly{
    background-color: rgb(255, 209, 123);
    border: none;
    border-radius: 5px;
    -webkit-text-fill-color: rgb(255, 81, 0);
    font-family: thickFont;
    transition: 0.5s;
    width: 100;
    height: 30;
    position: absolute;
    top: 70;
    left: 61.5%
}

#seeHourly:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 102, 32);
    -webkit-text-fill-color: rgb(255, 209, 123);
    border-radius: 10px;
}

#day4Symbol{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translate(0%, 78%);
    transition: transform 0.5s ease;
}

#dayName4{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#day4Box{
    position: absolute;
    overflow: hidden;
    top: 280;
    left: 40%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   
#day5Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#day5Symbol{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translate(0%, 78%);
    transition: transform 0.5s ease;
}

#dayName5{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#day5Box{
    position: absolute;
    overflow: hidden;
    top: 280;
    left: 58%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   


#day6Temp{
    font-family: thickFont;
    -webkit-text-fill-color: white;
    font-size: 20;
    position: absolute;
    top: 85;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#day6Symbol{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40%;
    top: -10px;
    transform: translate(0%, 78%);
    transition: transform 0.5s ease;
}

#dayName6{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:400;
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, 0%);
}

#rainsound{
    display: none;
}

#windsound{
    display: none;
}

#notfication{
    display: block;
}

#day6Box{
    position: absolute;
    overflow: hidden;
    top: 280;
    left: 76%;
    width: 183;
    height: 132;
    background-image: url(rect.png);
}   
#Date{
    font-size: 20;
    font-family: ThinFont;
    font-weight: 800;
    -webkit-text-fill-color: white;
    position: absolute;
    top:410 ;
}

#precipSymbolMini{
    width: 40;
    height: 50;
    position: absolute;
    top: 360;
    left: 3.5%
}

#whatPrecip{
    font-size: 35;
    font-family: ThinFont;
    font-weight: 1000;
    -webkit-text-fill-color: white;
    position: absolute;
    top: 328;
    left: -350px;
    transform: translate(454px, 0%);
    transition: transform 1.5s ease 2s;    
}

#windSymbolMini{
    width: 50;
    height: 50;
    position: absolute;
    top: 300;
    left: 3%;
}

#whatWind{
    font-size: 35;
    font-family: ThinFont;
    font-weight: 1000;  
    -webkit-text-fill-color: white;
    position: absolute;
    top: 270;
    left: -350px;
    transform: translate(454px, 0%);
    transition: transform 1.5s ease 1s;
}

#weatherSymbolMini{
    width: 80;
    position: absolute;
    top: 220;
    left: 20px
}

#whatWeather{
    font-size: 35;
    font-family: ThinFont;
    font-weight: 1000;
    -webkit-text-fill-color: white;
    position: absolute;
    top: 205;
    left: -350px;
    transform: translate(454px, 0%);
    transition: transform 1.5s ease;
    text-transform: capitalize;
}


#Degrees{
    font-size: 60;
    font-family: ThickFont;
    position: absolute;
    top: -30;
    -webkit-text-fill-color: white
}

#State{
    -webkit-text-fill-color: white;
    position: absolute;
    top: 170;
    font-family: ThinFont;
}

#weatherSymbol{
    position: absolute;
    top: 10;
    left: 210;
    max-width: 110;
}

#dash {
    height: 77%;
    width: 93%;
    position: absolute;
    top: 17%;
    left: 50%; 
    transform: translate(-50%, 0%);
    padding-left: 40px;
    overflow: auto;
    scrollbar-color: rgb(255, 105, 41) rgb(255, 195, 155);
}
#searchDiv{
    width: 360px;
    height: 50px;
    position: absolute;
    top: 20;
    left: 50%; 
    transform: translate(-50%, 0%);
}

#card{
    height: 77%;
    width: 95%;
    background-image: linear-gradient(to top right, rgb(13, 13, 13),rgb(41, 41, 41));
    position: absolute;
    top: 100;
    left: 50%;
    transform: translate(-50%, 0%);
    transform: translate();
    border-radius: 10px;
    opacity: 80%;
    box-shadow: 0px 0px 13px rgb(0, 11, 26);

}

#cityName{
    -webkit-text-fill-color: white;
    font-family: ThinFont;
    font-size: 35px;
    font-weight:900;
    position: absolute;
    top: 110;
}

#feelsLikeCurrent{
    -webkit-text-fill-color: white;
    font-family: thinFont;
    position: absolute;
    top: 80;
    left: 3.6%;
}

#searchInput{
    border: none;
    font-size: 30px;
    height: 50;
    font-weight: 1000;
    letter-spacing: 1px;
    font-family: ThinFont;
    -webkit-text-fill-color: rgb(255, 81, 0);
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    border-radius: 10px;
    caret-color: white;
}

#searchIcon{
    width: 30;
    height: 30;
    border: none;
    position: absolute;
    top: 22%;
    left: -15%;
    transform: translate(56%, 0%);
}

#searchIconButton{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute; 
    left: 310;
    background-image: linear-gradient(to bottom right, rgb(255, 77, 0), rgb(255, 170, 106));
    box-shadow: 0px 0px 6px rgb(8, 14, 21);
    transition: 0.8s;
}

#searchIconButton:hover{
    border-radius: 100%;
    box-shadow: 0px 0px 13px rgb(237, 126, 51);
    cursor: pointer;

}
::selection{
    background-color: var(--color);
    -webkit-text-fill-color: var(--text);
}

@font-face{
    font-family: ThinFont;
    src: url(ThemeFont.otf)
}

@font-face{
    font-family: ThickFont;
    src: url(ThemeFont.ttf)
}